.appContainer {
    display: flex;
    flex-direction: column;
}

#mapBox div:first-child {
    position: relative !important;
    margin-top: 2%;
}

.verticalBar {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.parkingContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.myParkingList {
    margin-top: 2%;
}

.myParkingDetail {
    margin-left: 5%;
    margin-right: 15%;
    width: 30%;
    float: left;
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.wrapper {
    display:flex;
    flex-direction: column;
}

.myParking {
    /* background-color:red */
}


.mySpotList {
    /* background-color:red */
}

.mySpot {
    /* background-color:red */
}

.myReservation {
    /* background-color:red */
}

.mySignup {
    /* background-color: red */
    margin-top: 5%;
}

.myLogin {
    margin: auto;
    width: 40%;
    align-items: center;
}

.myField {
    /* background-color: red; */
}

.myNav {
    margin-top:3%;
}


.myReservationList {
    width:100px;
}