/*-------------- Overall --------------*/
.appContainer {
    display: flex;
    flex-direction: column;
}

/*-------------- Map --------------*/
#mapBox div:first-child {
    position: relative !important;
    margin-top: 2%;
}

/*-------------- Tabs --------------*/

.verticalBar {
    width: 400px;
    display: flex;
    flex-direction: column;
}

/*-------------- Parking Lots and Listing --------------*/
.parkingContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.myParkingList {
    margin-top: 2%;
}

.myParkingDetail {
    margin-left: 5%;
    margin-right: 15%;
    width: 30%;
    float: left;
}
/*-------------- Spot Information --------------*/

.mySpotList {
    /* background-color:red */
}

.mySpot {
    /* background-color:red */
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    width: 500px;

}

#spotButtonGroup {
    margin-top: 15px;
    width: 400px;
}

#spotButton {
    width: 75px;
}


/*-------------- Reservation --------------*/
.myReservationList {
    width:100px;
}

.myReservation {
    /* background-color:red */
}



/*-------------- Navigation Bar --------------*/
.myNav {
    margin-top:3%;
}


/*-------------- Log-In and Sign-Up --------------*/
.mySignup {
    /* background-color: red */
    margin-top: 5%;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.myLogin {
    margin: auto;
    width: 40%;
    align-items: center;
}

.logoImage {
    text-align: center;
}

.buttonGroup {
    margin:5px;
    display:inline-block;
}